<section class="bg-red-700 border-b-2 p-2 border-gray-300 flex flex-col text-white md:flex-row md:justify-between">
  <div class="flex justify-between">
    <a href="/"><img class="h-20 w-20" src="/images/logo.png" alt="Logo" class="w-8 h-8 mr-2"></a>
    <button class="btn-nav border border-gray-100 px-2 py-1 h-full rounded md:hidden">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
  <nav class="nav flex flex-col md:flex-row h-0 overflow-hidden md:h-full">
    <a class="hover:bg-blue-600 rounded p-2 " href="/">Home</a>
    <a class="hover:bg-blue-600 rounded p-2 " href="/leagues">Leagues</a>
    <a class="hover:bg-blue-600 rounded p-2 " href="/players/players">Players</a>
  </nav>
</section>

<script>
  const btnNav = document.querySelector('.btn-nav')
  const nav = document.querySelector('.nav')
  btnNav.addEventListener('click',() => {
    nav.classList.toggle('h-0')
    nav.classList.toggle('overflow-hidden')
  })
</script>