---
import AppLayout from "../../layouts/AppLayout.astro";
import Hero from "../../components/Hero.astro"
---

<AppLayout title="Players">
  <Hero 
    image="/images/hero-03.jpg"
    legend="El formato del torneo involucra fases eliminatorias, al igual que la Europa League, y culmina en una final. Los equipos compiten por llegar a la fase decisiva y, eventualmente, ganar el título de la UEFALa Supercopa de la UEFA es considerada uno de los trofeos más prestigiosos a nivel de clubes en el fútbol europeo, ya que enfrenta a los dos campeones continentales del año anterior. Además, sirve como un preludio emocionante para la temporada de fútbol europeo, brindando a los aficionados la oportunidad de ver a los mejores equipos en un enfrentamiento directo."
  />

  <h1 class="text-center m-4 mx-auto">Players</h1>
<div class="row">
  <div class="col-md-6">
    <div class="card m-4 mx-auto">
        <div>
          <a href="/players/player-1"><img class="img-fluid" src="../images/player-1.png" alt=""></a>
        </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card m-4 mx-auto">
        <div>
          <a href="/players/player-2"><img class="img-fluid" src="../images/player-2.png" alt=""></a>
        </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card m-4 mx-auto">
        <div>
          <a href="/players/player-3"><img class="img-fluid" src="../images/player-3.png" alt=""></a>
        </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card m-4 mx-auto">
        <div>
          <a href="/players/player-4"><img class="img-fluid" src="../images/player-4.png" alt=""></a>
        </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card m-4 mx-auto">
        <div>
          <a href="/players/player-5"><img class="img-fluid" src="../images/player-5.png" alt=""></a>
        </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card m-4 mx-auto">
        <div>
          <a href="/players/player-6"><img class="img-fluid" src="../images/player-6.png" alt=""></a>
        </div>
    </div>
  </div>
</div>
</AppLayout>